name: mirror-dockerhub-images

on:
  # schedule:
  #   - cron: '0 6 * * *'
  push:
    branches:
      - main
    paths:
      - .github/workflows/mirror-dockerhub-images.yml
  workflow_dispatch:
jobs:
  pipeline:
    uses: codepraxis-io/github-actions/.github/workflows/docker-image-mirror-workflow.yml@main
    with:
      upstream-registry: registry.hub.docker.com
      upstream-image-list: '["library/ubuntu:22.04", "library/alpine:3.16", "library/debian:11-slim", "library/amazoncorretto:17.0.4-alpine3.15", "library/eclipse-temurin:17-jre-jammy"]'
    secrets:
      DESTINATION_REGISTRY_USERNAME: ${{ secrets.GH_PACKAGES_USERNAME }} 
      DESTINATION_REGISTRY_PASSWORD: ${{ secrets.GH_PAT }}
      COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }} 
      COSIGN_PRIVATE_KEY_PASSWORD: ${{ secrets.COSIGN_PRIVATE_KEY_PASSWORD }}
      COSIGN_PUBLIC_KEY: ${{ secrets.COSIGN_PUBLIC_KEY }}
